$backgroundPage: rgb(9, 9, 43);

$backgroundIndicator: rgb(33, 29, 85);
$colorShadowIndicator: black;

$normal: green;
$hot: red;
$cold: blue;

$buttonColor: rgb(55, 116, 55);

$textColor: white;

$borderColor: $textColor;
